# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in play_hosts %}
{% set hostname = item.replace("_", "-") %}
{% if 'ansible_eth0' in hostvars[item] %}
{{ hostvars[item]['ansible_eth0']['ipv4']['address'] }} {{ domain  }}  {{ hostname | regex_replace('^sgmc-[a-z]*-', '') }} 
{% endif %}
{% endfor %}
