{% for repository in jenkins_git_repositories %}
pipelineJob('{{ repository }}') {
  definition {
    cpsScm {
      scm {
        git {
          remote {
            url('{{ jenkins_git_host }}')
          }
          branch('master')
        }
      }
      scriptPath('Jenkinsfile')
    }
  }
}

{% endfor %}
